$env:RPC_URL="http://127.0.0.1:8545"
$env:CONTRACT_ADDRESS="0x5FbDB2315678afecb367f032d93F642f64180aa3"
$env:PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
$env:PORT="3003"

$env:DASH_MNEMONIC="right because hammer first embody dry fragile valve crisp chat moment model"
$env:DASH_IDENTITY_ID="your real dash identity id here"
$env:DASH_CONTRACT_ID="your real dash contract id here"