$env:RPC_URL="http://127.0.0.1:8545"
$env:CONTRACT_ADDRESS="x5FbDB2315678afecb367f032d93F642f64180aa3"
$env:PRIVATE_KEY="0xYOUR_PRIVATE_KEY"
$env:DASH_MNEMONIC="your twelve word mnemonic here"
$env:DASH_NETWORK="testnet"
$env:DASH_APP_NAME="ecoTrace"
$env:DASH_CONTRACT_ID="YOUR_DASH_CONTRACT_ID"
$env:PORT="3003"